# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")
useDynLib(MsatAllele)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(ggplot2)